@tailwind base;
@tailwind components;
@tailwind utilities;


/* ========================================= */
/* GLOBAL */
/* ========================================= */

html,
body,
#root {

    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;

    font-family: Arial, Helvetica, sans-serif;
}


/* LIGHT MODE */

body {

    background-color: #f1f5f9;

    color: #111827;

    transition: all 0.3s ease;
}


/* DARK MODE */

.dark body {

    background-color: #0f172a;

    color: white;
}
body {
  margin: 0;
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}